* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 40px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* 
What happens when we set the display property to flex? 
the flex display property allows a developer to manipulate an element (nav) into a flexbox,
allowing the nav container to adopt flex properties
*display: flex == the container becomes flexible
children of a flexible container become a row by default
*/
nav {
  display: flex;
  background-color: #d8a47f;
}

nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* 
What is the flex-wrap property? 
flex-wrap makes it so content will wrap or move to another line
rather than extending horizontally beyond the page
*/
main {
  display: flex;
  flex-wrap: wrap;
}

aside {
  flex: 1;
  background-color: #b9c6ae;
  padding: 80px;
  text-align: center;
}


footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* 
What does the justify-content property do? 
manipulates/distributes the spacing between items in containers
primarily the **empty space** in a container between items
*/
.products {
  flex: 4;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* 
What is the flex property a shorthand property for?
What is it doing here? 
flex-grow: 0
flex-shrink: 0
flex-basis: 400px
flex properties are container specific--they are established 
in relation to other items in the container
*/
.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 400px;
}

.card header {
  padding: 20px;
}

.card p {
  text-align: center;
}

.card img {
  width: 100%;
}

/* 
What does the flex-direction property define?
What is it doing here? 
flex-direction pertains to the content/children elements of
container; determines **how** they wrap when the display changes
*/
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
